{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="title_block_wrapper block_has_bg_img" data-image-src="{% static "core/img/title_bg_05.jpg" %}">
	<div class="container">
		<div class="page_title_block">
			<h1 class="title">Contacts</h1>
			<div class="breadcrumbs"><a href="{% url 'core:index' %}">Home</a><span>Contacts</span></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="content_block row no-sidebar">
		<div class="fl-container ">
			<div class="posts-block ">
				<div class="contentarea">
					<div class="vc_row wpb_row vc_row-fluid">
						<div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner vc_custom_1519393801789">
								<div class="wpb_wrapper">
									<div class="gt3_spacing">
										<div class="gt3_spacing-height gt3_spacing-height_default" style="height:81px;"></div>
									</div>
									<div class="vc_row wpb_row vc_inner vc_row-fluid">
										<div class="wpb_column vc_column_container vc_col-sm-6">
											<div class="vc_column-inner vc_custom_1519648552916">
												<div class="wpb_wrapper">
													<h6 style="color: #fb90b1;text-align: left" class="vc_custom_heading wpb_animate_when_almost_visible wpb_slideInUp slideInUp vc_custom_1523624628266 wpb_start_animation animated">OUR CONTACTS</h6>
													<h2 style="color: #202020;line-height: 1;text-align: left" class="vc_custom_heading wpb_animate_when_almost_visible wpb_slideInUp slideInUp wpb_start_animation animated">Get in Touch</h2>
													<div class="gt3_spacing">
														<div class="gt3_spacing-height gt3_spacing-height_default" style="height:16px;"></div>
													</div>
													<div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1522228235900">
														<figure class="wpb_wrapper vc_figure">
															<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="72" height="6" src="{% static 'core/img/divider.png' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy"></div>
														</figure>
													</div>
													<div class="gt3_spacing">
														<div class="gt3_spacing-height gt3_spacing-height_default" style="height:12px;"></div>
													</div>
													<div style="font-size: 16px;color: #747a8c;line-height: 30px;text-align: left" class="vc_custom_heading wpb_animate_when_almost_visible wpb_slideInUp slideInUp vc_custom_1519648677614 wpb_start_animation animated">We have worls-class, flexible support via live chat, email and hone. We guarantee that you’ll be able to have any issue resolved within 24 hours. You van contact support immediately here</div>
													<div class="gt3_spacing">
														<div class="gt3_spacing-height gt3_spacing-height_default" style="height:26px;"></div>
													</div>
													<div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1521034010912">
														<div class="wpb_wrapper">
															<div>
																<p style="margin-bottom: 22px;"><strong style="color: #202020;padding-right: 5px;">A:</strong> 3105 Fairmount Ave, San Diego, CA 92105, USA</p>
																<p style="margin-bottom: 22px;"><strong style="color: #202020;padding-right: 5px;">E:</strong> browncraft@yoursite.com</p>
																<p style=""><a style="margin-bottom: 22px; display: flex; align-items: center; color: #5c656d" href="https://api.whatsapp.com/send?phone=1574452125"><strong style="color: #202020;padding-right: 5px;">P:</strong> <span style="padding-right: 10px;">+1 574 452 125</span><img width=15 height=15 src="{% static 'core/img/whatsapp.png' %}" alt=""></a></p>
															</div>
														</div>
													</div>
													<div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1521034400391">
														<div class="wpb_wrapper">
															<div class="footer_socials_links"> <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a> <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a> <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a> <a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></div>
														</div>
													</div>
													<div class="gt3_spacing">
														<div class="gt3_spacing-height gt3_spacing-height_default" style="height:48px;"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="wpb_column vc_column_container vc_col-sm-6">
											<div class="vc_column-inner">
												<div class="wpb_wrapper">
													<h6 style="color: #fb90b1;text-align: left" class="vc_custom_heading wpb_animate_when_almost_visible wpb_slideInUp slideInUp vc_custom_1523624674397 wpb_start_animation animated">SEND A MESSAGE</h6>
													<h2 style="color: #202020;line-height: 1;text-align: left" class="vc_custom_heading wpb_animate_when_almost_visible wpb_slideInUp slideInUp wpb_start_animation animated">Contact Form</h2>
													<div class="gt3_spacing">
														<div class="gt3_spacing-height gt3_spacing-height_default" style="height:16px;"></div>
													</div>
													<div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1522228242815">
														<figure class="wpb_wrapper vc_figure">
															<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="72" height="6" src="{% static 'core/img/divider.png' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy"></div>
														</figure>
													</div>
													<div role="form" class="wpcf7" id="contact-us-form" lang="en-US" dir="ltr">
														<div class="screen-reader-response">
															<p role="status" aria-live="polite" aria-atomic="true"></p>
															<ul></ul>
														</div>
														<form id="form" action="{% url 'core:contact-us' %}" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init"> {% csrf_token %}
															{% csrf_token %}
                                                            <div id="server-response"></div>
                                                            <div class="vc_row wpb_row vc_row-fluid">
																<div class="wpb_column vc_column_container vc_col-sm-6">
																	<div class="vc_column-inner"> <span class="wpcf7-form-control-wrap your-name">
                                                                            {{ form.name }}
                                                                        </span> </div>
																</div>
																<div class="wpb_column vc_column_container vc_col-sm-6">
																	<div class="vc_column-inner"> <span class="wpcf7-form-control-wrap your-email">
                                                                            {{ form.email }}
                                                                        </span> </div>
																</div>
																<div class="wpb_column vc_column_container vc_col-sm-12">
																	<div class="vc_column-inner"> <span class="wpcf7-form-control-wrap your-phone">
                                                                            {{ form.phone }}
                                                                        </span> </div>
																</div>
																<div class="wpb_column vc_column_container vc_col-sm-12">
																	<div class="vc_column-inner"> <span class="wpcf7-form-control-wrap your-message">
                                                                            {{ form.message }}
                                                                        </span> </div>
																</div>
															</div>
															<p>
																<div class="gt3_form_button_wrapper"><span><input type="submit" value="post a comment" class="wpcf7-form-control wpcf7-submit"></span></div><span class="ajax-loader"></span></p>
															<div class="wpcf7-response-output" aria-hidden="true"></div>
														</form>
													</div>
													<div class="gt3_spacing">
														<div class="gt3_spacing-height gt3_spacing-height_default" style="height:48px;"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="gt3_spacing">
										<div class="gt3_spacing-height gt3_spacing-height_default" style="height:18px;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_custom_1489391752164 vc_row-o-full-height vc_row-o-columns-top vc_row-o-equal-height vc_row-o-content-top vc_row-flex" style="position: relative; left: -190px; box-sizing: border-box; width: 1580px;">
						<div class="contacts_map wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner vc_custom_1490209932859">
								<div class="wpb_wrapper">
									<div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1541270585665">
										<div class="wpb_wrapper">
{#											<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx1xhdC2KnFKbwbncI0fpgC7i8zpR5rtw"></script>#}
{#											<script>#}
{#											function initialize() {#}
{#												var styleArray = [{#}
{#													"featureType": "administrative",#}
{#													"elementType": "labels.text.fill",#}
{#													"stylers": [{#}
{#														"color": "#6195a0"#}
{#													}]#}
{#												}, {#}
{#													"featureType": "landscape",#}
{#													"elementType": "all",#}
{#													"stylers": [{#}
{#														"color": "#f2f2f2"#}
{#													}]#}
{#												}, {#}
{#													"featureType": "landscape",#}
{#													"elementType": "geometry.fill",#}
{#													"stylers": [{#}
{#														"color": "#ffffff"#}
{#													}]#}
{#												}, {#}
{#													"featureType": "poi",#}
{#													"elementType": "all",#}
{#													"stylers": [{#}
{#														"visibility": "off"#}
{#													}]#}
{#												}, {#}
{#													"featureType": "poi.park",#}
{#													"elementType": "geometry.fill",#}
{#													"stylers": [{#}
{#														"color": "#e6f3d6"#}
{#													}, {#}
{#														"visibility": "on"#}
{#													}]#}
{#												}, {#}
{#													"featureType": "road",#}
{#													"elementType": "all",#}
{#													"stylers": [{#}
{#														"saturation": -100#}
{#													}, {#}
{#														"lightness": 45#}
{#													}, {#}
{#														"visibility": "simplified"#}
{#													}]#}
{#												}, {#}
{#													"featureType": "road.highway",#}
{#													"elementType": "all",#}
{#													"stylers": [{#}
{#														"visibility": "simplified"#}
{#													}]#}
{#												}, {#}
{#													"featureType": "road.highway",#}
{#													"elementType": "geometry.fill",#}
{#													"stylers": [{#}
{#														"color": "#a8b7b8"#}
{#													}, {#}
{#														"visibility": "simplified"#}
{#													}]#}
{#												}, {#}
{#													"featureType": "road.highway",#}
{#													"elementType": "geometry.stroke",#}
{#													"stylers": [{#}
{#														"color": "#325c76"#}
{#													}, {#}
{#														"visibility": "on"#}
{#													}, {#}
{#														"weight": "0.06"#}
{#													}, {#}
{#														"lightness": "87"#}
{#													}, {#}
{#														"saturation": "-58"#}
{#													}]#}
{#												}, {#}
{#													"featureType": "road.highway",#}
{#													"elementType": "labels.text",#}
{#													"stylers": [{#}
{#														"color": "#4e4e4e"#}
{#													}]#}
{#												}, {#}
{#													"featureType": "road.arterial",#}
{#													"elementType": "geometry.fill",#}
{#													"stylers": [{#}
{#														"color": "#f4f4f4"#}
{#													}]#}
{#												}, {#}
{#													"featureType": "road.arterial",#}
{#													"elementType": "labels.text.fill",#}
{#													"stylers": [{#}
{#														"color": "#787878"#}
{#													}]#}
{#												}, {#}
{#													"featureType": "road.arterial",#}
{#													"elementType": "labels.icon",#}
{#													"stylers": [{#}
{#														"visibility": "off"#}
{#													}]#}
{#												}, {#}
{#													"featureType": "transit",#}
{#													"elementType": "all",#}
{#													"stylers": [{#}
{#														"visibility": "off"#}
{#													}]#}
{#												}, {#}
{#													"featureType": "water",#}
{#													"elementType": "all",#}
{#													"stylers": [{#}
{#														"color": "#eaf6f8"#}
{#													}, {#}
{#														"visibility": "on"#}
{#													}]#}
{#												}, {#}
{#													"featureType": "water",#}
{#													"elementType": "geometry.fill",#}
{#													"stylers": [{#}
{#														"color": "#eaf6f8"#}
{#													}]#}
{#												}];#}
{#												var myLatlng = new google.maps.LatLng(40.714353, -74.005973);#}
{#												var mapOptions = {#}
{#													zoom: 14,#}
{#													scrollwheel: false,#}
{#													center: myLatlng,#}
{#													mapTypeId: google.maps.MapTypeId.ROADMAP,#}
{#													styles: styleArray#}
{#												};#}
{#												var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);#}
{#												var marker = new google.maps.Marker({#}
{#													position: myLatlng,#}
{#													map: map,#}
{#													title: 'New York!',#}
{#													icon: 'https://s3.amazonaws.com/gt3themes/gmap/brow.png'#}
{#												});#}
{#											}#}
{#											google.maps.event.addDomListener(window, 'load', initialize);#}
{#											</script>#}
{#											<div id="map-canvas" style="height: 600px; position: relative; overflow: hidden;">#}
{##}
{#											</div>#}
                                            {% include 'core/components/map.html' %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="vc_row-full-width vc_clearfix"></div>
					<div class="clea_r"></div>
					<div class="clea_r"></div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}
{% block additional_scripts %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const url = "{% url 'core:contact-us' %}"
            const form = document.getElementById('contact-us-form')
            form.addEventListener('submit', function () {
                event.preventDefault()
                makeRequestToTheServer(form)

            })
            function makeRequestToTheServer(form) {
                let xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4) {
                        if (this.status == 200) {
                            responseMessage = JSON.parse(xhttp.responseText)
                            document.getElementById('form').reset()
                            {#document.getElementById("server-response").innerHTML = responseMessage["message"]#}
                            Swal.fire({
                                title: 'Success!',
                                text: responseMessage["message"],
                                icon: 'success',
                                confirmButtonText: 'Close',
                                confirmButtonColor: '#fb90b1'
                            })
                        } else {
                            Swal.fire({
                                title: 'Something went wrong...',
                                text: JSON.parse(xhttp.responseText)["message"],
                                icon: 'error',
                                confirmButtonText: 'Close',
                                confirmButtonColor: '#fb90b1'
                            })
                        }

                    }
                };
                const csrfToken = "{{ csrf_token }}"
                xhttp.open("POST", url, true);
                xhttp.setRequestHeader('X-CSRFToken', csrfToken);
                xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                xhttp.setRequestHeader("Accept", "application/json");
                const data = collectDataForRequest()
                console.log(data)
                xhttp.send(data);
            }

            function collectDataForRequest() {
                const name = document.getElementsByName('name')[0],
                    email = document.getElementsByName('email')[0],
                    phone = document.getElementsByName('phone')[0],
                    message = document.getElementsByName('message')[0]

                return `name=${name.value}&email=${email.value}&phone=${phone.value}&message=${message.value}`

            }

        })
    </script>
{% endblock %}