{% load static cms_tags%}
<div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid appointment-section vc_row-has-fill" style="background-image:url({% static 'appointments/call_to_action.jpg' %})">
  <div class="wpb_column vc_column_container vc_col-sm-12">
     <div class="vc_column-inner">
        <div class="wpb_wrapper">
           <section class="vc_cta3-container">
              <div class="vc_general vc_cta3 vc_cta3-style-custom vc_cta3-shape-square vc_cta3-align-left vc_cta3-icon-size-md vc_cta3-actions-right vc_custom_1560936430810" style="background-color:rgb(255,255,255);background-color:rgba(255,255,255,0);">
                 <div class="vc_cta3_content-container">
                    <div class="vc_cta3-content">
                       <header class="vc_cta3-content-header">
                          <h2 style="font-size: 45px;color: #ffffff;line-height: 1;font-family:Playfair Display;font-weight:700;font-style:normal" class="vc_custom_heading">Do You Want a Perfect Eyebrows Now?</h2>
                       </header>
                    </div>
                    <div class="vc_cta3-actions">
                       <div class="vc_btn3-container vc_btn3-right"><a style="background-color:#ffffff; color:#fb90b1;" class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-custom" href="{% page_url request.current_page.get_root %}" title="make an appoinment">make an appoinment</a></div>
                    </div>
                 </div>
              </div>
           </section>
        </div>
     </div>
  </div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>