<div class="gt3_related_post_item">
    <div class="gt3_related_post_item_inner" data-pad="0px">
        <a href="javascript:void(0)"
           class="gt3_related_post_link">
            <img class="gt3_related_image"
                 src="{{ instance.post.image.url }}"
                 alt="{{ instance.post.image.alt_text }}">
            <div class="gt3_prelated_overlay"></div>
            <div class="gt3_related_content">
                <div class="gt3_related_title">{{ instance.post.name }}</div>
                <div class="gt3_related_date">
                    {{ instance.post.created }}
                </div>
            </div>
        </a>

    </div>
</div>