<div class="vc_row wpb_row vc_inner vc_row-fluid">
    {% if instance %}
        {% if instance.fetch_from_db %}
            {% for service in services %}
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4 vc_col-xs-12">
                     <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                           <div class="price_item standart">
                              <div class="price_item_wrapper">
                                 <div class="item_cost_wrapper  ">
                                    <div class="package_head">
                                       <div class="item_cost_wrapper">
                                          <div class="price_item_title">
                                             <h6>{{ service.duration }} minutes</h6>
                                          </div>
                                          <div class="price_content"><span class="price_item_prefix">$</span><span class="price_value">{{ service.cost }}</span></div>
                                          <div class="price_item_description">{{ service.cost_name }}
                                          </div>
                                       </div>
                                       <div class="price_item_body">
                                          <div class="items_text">
                                          </div>
                                          <div class="price_button"><a class="shortcode_button" href="{{ service.get_absolute_url }}"><span>learn more</span></a></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
            {% endfor %}
        {% elif services %}
            {% for child_plugin_instance in instance.child_plugin_instances %}
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4 vc_col-xs-12">
                     <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                           <div class="price_item standart">
                              <div class="price_item_wrapper">
                                 <div class="item_cost_wrapper  ">
                                    <div class="package_head">
                                       <div class="item_cost_wrapper">
                                          <div class="price_item_title">
                                             <h6>{{ child_plugin_instance.service.duration }} minutes</h6>
                                          </div>
                                          <div class="price_content"><span class="price_item_prefix">$</span><span class="price_value">{{ child_plugin_instance.service.cost }}</span></div>
                                          <div class="price_item_description">{{ child_plugin_instance.service.teaser_description }}
                                          </div>
                                       </div>
                                       <div class="price_item_body">
                                          <div class="items_text">
                                          </div>
                                          <div class="price_button"><a class="shortcode_button" href="{{ child_plugin_instance.service.get_absolute_url }}"><span>learn more</span></a></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
            {% endfor %}
        {% endif %}
    {% elif services %}
        {% for service in services %}
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4 vc_col-xs-12">
                 <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                       <div class="price_item standart">
                          <div class="price_item_wrapper">
                             <div class="item_cost_wrapper  ">
                                <div class="package_head">
                                   <div class="item_cost_wrapper">
                                      <div class="price_item_title">
                                         <h6>{{ service.duration }} minutes</h6>
                                      </div>
                                      <div class="price_content"><span class="price_item_prefix">$</span><span class="price_value">{{ service.cost }}</span></div>
                                      <div class="price_item_description">{{ service.teaser_description }}
                                      </div>
                                   </div>
                                   <div class="price_item_body">
                                      <div class="items_text">
                                      </div>
                                      <div class="price_button"><a class="shortcode_button" href="{{ service.get_absolute_url }}"><span>learn more</span></a></div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
        {% endfor %}
    {% endif %}

</div>