{% load cms_tags %}
{% if services %}
    {% for service in services %}
        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4 vc_col-xs-12">
             <div class="vc_column-inner">
                <div class="wpb_wrapper">
                   <div class="gt3_spacing">
                      <div class="gt3_spacing-height gt3_spacing-height_default" style="height:32px;"></div>
                   </div>
                    <a href="{{ service.get_absolute_url }}">
                        <div class="gt3_icon_box gt3_icon_box_icon-position_ gt3_icon_box_icon-position_left gt3_icon_box__icon_icon_size_custom  gt3-box-image">
                          <div class="block_center_icon" style="width:80px">
                                {% if service.icon %}
                                    <i class="gt3_icon_box__icon" style="width:50px; font-size:50px">
                                        <img width="50" height="50" src="{{ service.icon.url }}" class="attachment-full size-full service-icon" alt="" loading="lazy">
                                    </i>
                                {% endif %}
                          </div>
                          <div class="gt3_icon_box-content-wrapper" style="margin-left:80px">
                             <div class="gt3_icon_box__title">
                                <h4 style="color:#202020;font-size: 24px; line-height: 27px; ">{{ service.name }}</h4>
                             </div>
                              {% autoescape off %}
                             <div class="gt3_icon_box__text" style="color:#747a8c; ">{{ service.teaser_description }}</div>
                              {% endautoescape %}
                          </div>
                       </div>
                    </a>
                </div>
             </div>
          </div>
    {% endfor %}
{% elif instance %}
  {% for child_plugin_instance in instance.child_plugin_instances %}
        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4 vc_col-xs-12">
             <div class="vc_column-inner">
                <div class="wpb_wrapper">
                   <div class="gt3_spacing">
                      <div class="gt3_spacing-height gt3_spacing-height_default" style="height:32px;"></div>
                   </div>
                    <a href="{{ child_plugin_instance.service.get_absolute_url }}">
                        <div class="gt3_icon_box gt3_icon_box_icon-position_ gt3_icon_box_icon-position_left gt3_icon_box__icon_icon_size_custom  gt3-box-image">
                          <div class="block_center_icon" style="width:80px">
                                {% if child_plugin_instance.service.icon %}
                                    <i class="gt3_icon_box__icon" style="width:50px; font-size:50px">
                                        <img width="50" height="50" src="{{ child_plugin_instance.service.icon.url }}" class="attachment-full size-full service-icon" alt="{{ child_plugin_instance.service.icon.alt_text }}" loading="lazy">
                                    </i>
                                {% endif %}
                          </div>
                          <div class="gt3_icon_box-content-wrapper" style="margin-left:80px">
                             <div class="gt3_icon_box__title">
                                <h4 style="color:#202020;font-size: 24px; line-height: 27px; ">{{ child_plugin_instance.service.name }}</h4>
                             </div>
                              {% autoescape off %}
                             <div class="gt3_icon_box__text" style="color:#747a8c; ">{{ child_plugin_instance.service.teaser_description }}</div>
                              {% endautoescape %}
                          </div>
                       </div>
                    </a>
                </div>
             </div>
          </div>
    {% endfor %}
{% endif %}
<div class="gt3_spacing"><div class="gt3_spacing-height gt3_spacing-height_default" style="height:32px;"></div></div>