<header class="main_header aside_header" style="">
   <a href="javascript:void(0)" class="btn_menu">
      <div class="btn_menu_ico">
         <div class="btn_menu_ico_inner">
            <span class="btn_menu_line1"></span>
            <span class="btn_menu_line2"></span>
            <span class="btn_menu_line3"></span>
         </div>
      </div>
      <span class="btn_menu_caption">MENU</span>
      <span class="btn_close_menu_caption">CLOSE</span>
   </a>
   <div class="header_title fadeOnLoad"><span> Your Perfect Eyebrows</span></div>
   <ul class="header_socials">
      <li><a class="facebook" target="_blank" href="http://facebook.com" title="Facebook"><i class="fa gt3_fa_before fa-facebook"></i></a></li>
      <li><a class="twitter" target="_blank" href="http://twitter.com" title="Twitter"><i class="fa gt3_fa_before fa-twitter"></i></a></li>
      <li><a class="instagram" target="_blank" href="https://instagram.com" title="Instagram"><i class="fa gt3_fa_before fa-instagram"></i></a></li>
   </ul>
</header>