{% load cms_tags %}
<div data-vc-full-width="true" data-vc-full-width-init="true"
     class="vc_row wpb_row vc_row-fluid vc_custom_1519637232891 vc_row-has-fill">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="gt3_spacing">
                    <div class="gt3_spacing-height gt3_spacing-height_default"
                         style="height:47px;"></div>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    {% for child_plugin_instance in instance.child_plugin_instances %}
                        {% render_plugin child_plugin_instance %}
                    {% endfor %}

{#                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3 vc_col-xs-12">#}
{#                        <div class="vc_column-inner">#}
{#                            <div class="wpb_wrapper">#}
{#                                <div class="gt3_module_counter  icon-position-left counter_icon_type_image ">#}
{#                                    <div class="icon_container icon_proportions_original">#}
{#                                        <img src="{% static 'core/img/icon_05-110x110.png' %}"#}
{#                                             alt="icon_img" style="width:55px;"></div>#}
{#                                    <div class="stat_count_wrapper">#}
{#                                        <div class="stat_count" data-suffix="+"#}
{#                                             data-prefix="" data-value="35"#}
{#                                             style="color: #202020;font-size: 60px; line-height: 60px; ">#}
{#                                            35+#}
{#                                        </div>#}
{#                                        <div class="cont_info"#}
{#                                             style="color: #747a8c; font-size: 22px; line-height: 33px; ">#}
{#                                            Awards Winning#}
{#                                        </div>#}
{#                                        <div class="stat_temp"#}
{#                                             style="display: none; width: 35px;"></div>#}
{#                                    </div>#}
{#                                    <div class="clear"></div>#}
{#                                </div>#}
{#                                <div class="gt3_spacing">#}
{#                                    <div class="gt3_spacing-height gt3_spacing-height_default"#}
{#                                         style="height:50px;"></div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3 vc_col-xs-12">#}
{#                        <div class="vc_column-inner">#}
{#                            <div class="wpb_wrapper">#}
{#                                <div class="gt3_module_counter  icon-position-left counter_icon_type_image ">#}
{#                                    <div class="icon_container icon_proportions_original">#}
{#                                        <img src="{% static 'core/img/icon_06-110x110.png' %}"#}
{#                                             alt="icon_img" style="width:55px;"></div>#}
{#                                    <div class="stat_count_wrapper">#}
{#                                        <div class="stat_count" data-suffix="+"#}
{#                                             data-prefix="" data-value="10"#}
{#                                             style="color: #202020;font-size: 60px; line-height: 60px; ">#}
{#                                            10+#}
{#                                        </div>#}
{#                                        <div class="cont_info"#}
{#                                             style="color: #747a8c; font-size: 22px; line-height: 33px; ">#}
{#                                            Years of Experiense#}
{#                                        </div>#}
{#                                        <div class="stat_temp"#}
{#                                             style="display: none; width: 10px;"></div>#}
{#                                    </div>#}
{#                                    <div class="clear"></div>#}
{#                                </div>#}
{#                                <div class="gt3_spacing">#}
{#                                    <div class="gt3_spacing-height gt3_spacing-height_default"#}
{#                                         style="height:50px;"></div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3 vc_col-xs-12">#}
{#                        <div class="vc_column-inner">#}
{#                            <div class="wpb_wrapper">#}
{#                                <div class="gt3_module_counter  icon-position-left counter_icon_type_image ">#}
{#                                    <div class="icon_container icon_proportions_original">#}
{#                                        <img src="{% static 'core/img/icon_07-110x110.png' %}"#}
{#                                             alt="icon_img" style="width:55px;"></div>#}
{#                                    <div class="stat_count_wrapper">#}
{#                                        <div class="stat_count" data-suffix=""#}
{#                                             data-prefix="" data-value="15"#}
{#                                             style="color: #202020;font-size: 60px; line-height: 60px; ">#}
{#                                            15#}
{#                                        </div>#}
{#                                        <div class="cont_info"#}
{#                                             style="color: #747a8c; font-size: 22px; line-height: 33px; ">#}
{#                                            Perfect Specialists#}
{#                                        </div>#}
{#                                        <div class="stat_temp"#}
{#                                             style="display: none; width: 15px;"></div>#}
{#                                    </div>#}
{#                                    <div class="clear"></div>#}
{#                                </div>#}
{#                                <div class="gt3_spacing">#}
{#                                    <div class="gt3_spacing-height gt3_spacing-height_default"#}
{#                                         style="height:50px;"></div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
                <div class="gt3_spacing">
                    <div class="gt3_spacing-height gt3_spacing-height_default"
                         style="height:42px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>