{% load static %}
<footer>
    <div class="footer_widgets fadeOnLoad">
        <div class="container">
            <div class="footer_widgets_wrapper">
                <div class="vc_row vc_row-fluid vc_row-o-equal-height vc_row-flex">
                    <div class="widget_text vc_column_container vc_col-sm-6 vc_col-md-3">
                        <div class="widget_text vc_column-inner sidepanel widget_custom_html">
                            <div class="textwidget custom-html-widget"><a
                                    href="{% page_url request.current_page.get_root %}"><img width="129" height="65"
                                                                                    src="{% static 'core/img/logo.png' %}"
                                                                                    alt=""
                                                                                    style="max-width: 100%;height: auto">
                            </a>
                                <div>Browcraft Studio is a full-service skin care studio specializing in eyebrow design
                                    (including microblading) and premium skincare
                                </div>
                                <div class="footer_socials_links">
                                    <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
                                    <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
                                    <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
                                    <a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_column_container vc_col-sm-6 vc_col-md-3">
                        <div class="vc_column-inner sidepanel widget_text"><h6 class="widget_title">Contacts</h6>
                            <div class="textwidget"><p><strong style="color: #202020">A:</strong> Long Island, NY:10 Verbena AVE. Floral Park NY 11001. IN 84-3132077 - ALL ESTHETICS NY LLC</p>
                                <p><strong style="color: #202020">E:</strong> <a href="mailto:apptallesthetics@gmail.com">Apptallesthetics@gmail.com</a></p>
                                <p><strong style="color: #202020">P:</strong>+1 (718) 839-4494<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="vc_column_container vc_col-sm-6 vc_col-md-3">
                        <div class="vc_column-inner sidepanel widget_nav_menu"><h6 class="widget_title">Useful
                            Links</h6>
                            <div class="menu-useful-links-container">
                                <ul id="menu-useful-links" class="menu">
                                    pages-list
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>