<header class="main_header aside_header">
    <nav class="aside_main_nav overflowed_menu">
            <ul id="menu-main-menu-1" class="menu reached_top">
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-2685">
                    <a href="{% url 'core:index' %}">Home</a>
{#                    <ul class="sub-menu">#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1137 current_page_item menu-item-2247">#}
{#                            <a href="https://livewp.site/wp/md/browcraft/">Home Default</a></li>#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2326"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/home-video/">Home Video</a></li>#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2325"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/home-service/">Home Service</a></li>#}
{#                    </ul>#}
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2245"
                   ><a href="{% url 'services:service-list' %}">Services</a>
{#                    <ul class="sub-menu">#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2310"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/service/">Service</a></li>#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2311"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/single_service/">Single Service</a></li>#}
{#                    </ul>#}
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2242"
                   ><a href="{% url 'portfolio:portfolio-index' %}">Gallery</a>
{#                    <ul class="sub-menu">#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2312"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/grid-gallery/">Grid Gallery</a></li>#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2313"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/masonry-gallery/">Masonry Gallery</a></li>#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2324"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/packery-gallery/">Packery Gallery</a></li>#}
{#                    </ul>#}
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2240"
                  ><a href="{% url 'blog:blog-index' %}">Blog</a>
{#                    <ul class="sub-menu">#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2303"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/blog-fullwidth/">Fullwidth Listing</a>#}
{#                        </li>#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2302"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/blog-with-right-sidebar/">With Right#}
{#                            Sidebar</a></li>#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2301"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/blog-with-left-sidebar/">With Left#}
{#                            Sidebar</a></li>#}
{#                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2241">#}
{#                            <a href="javascript:void(0)">Posts</a>#}
{#                            <ul class="sub-menu">#}
{#                                <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2314">#}
{#                                    <a href="https://livewp.site/wp/md/browcraft/2018/03/21/permanent-makeup-methods/">Standart#}
{#                                        Post</a></li>#}
{#                                <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2316">#}
{#                                    <a href="https://livewp.site/wp/md/browcraft/2018/03/21/choose-the-right-microblades/">Image#}
{#                                        Post</a></li>#}
{#                                <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2319">#}
{#                                    <a href="https://livewp.site/wp/md/browcraft/2018/03/21/what-is-permanent-makeup/">Video#}
{#                                        Post</a></li>#}
{#                                <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2317">#}
{#                                    <a href="https://livewp.site/wp/md/browcraft/2018/03/21/best-music-for-your-soul/">Audio#}
{#                                        Post</a></li>#}
{#                                <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2318">#}
{#                                    <a href="https://livewp.site/wp/md/browcraft/2018/03/21/5-makeup-approved-hacks-to-speed-up-your-beauty-routine/">Link#}
{#                                        Post</a></li>#}
{#                                <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2315">#}
{#                                    <a href="https://livewp.site/wp/md/browcraft/2018/03/21/beauty-has-so-many-forms/">Quote#}
{#                                        Post</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                    </ul>#}
                </li>
{#                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2239"#}
{#                  ><a href="javascript:void(0)">Pages</a>#}
{#                    <ul class="sub-menu">#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2320"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/about-us/">About Us</a></li>#}
{#                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2729">#}
{#                            <a href="javascript:void(0)">Shop</a>#}
{#                            <ul class="sub-menu">#}
{#                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2728">#}
{#                                    <a href="https://livewp.site/wp/md/browcraft/shop/">All Products</a></li>#}
{#                                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2730">#}
{#                                    <a href="https://livewp.site/wp/md/browcraft/product-category/lipstick/">Single#}
{#                                        Product</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2322"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/appointment/">Appointment</a></li>#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2321"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/faq/">FAQ</a></li>#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2300"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/typography/">Typography</a></li>#}
{#                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2244"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/404Page">404 Page</a></li>#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2304"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/coming-soon/">Coming Soon</a></li>#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2299"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/shortcodes/">Shortcodes</a></li>#}
{#                    </ul>#}
{#                </li>#}
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2246"
                    ><a href="{% url 'core:contact-us' %}">Contacts</a>
{#                    <ul class="sub-menu">#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2323"><a#}
{#                                href="https://livewp.site/wp/md/browcraft/contacts/">Contacts</a></li>#}
{#                    </ul>#}
                </li>
            </ul>
        </nav>

</header>
