{% load static cms_tags %}
<div class="title_block_wrapper block_has_bg_img" data-image-src="{{ instance.bg_image.url }}">
     <div class="container">
        <div class="page_title_block">
            {% if addresses %}
                <div class="addresses" style="text-align: right">
                    {% for address in addresses %}
                        {% autoescape off %}
                            {{ address.text }}
                        {% endautoescape %}
                    {% endfor %}
                </div>
            {% endif %}
           <h1 class="title">{{ instance.title }}</h1>
           <div class="breadcrumbs"><a href="{% page_url request.current_page.get_root %}">Home</a><span>{{ instance.title }}</span></div>
        </div>
     </div>
</div>