{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ service.page_title }}{% endblock %}
{% block meta %}{{ service.meta_description }}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/vc_carousel.min.css' %}">
    <style>
        .vc_custom_1522315484246 {
            background-image: url("{% static 'core/img/bg_services_01-1.jpg' %}") !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
       .vc_custom_1519393801789{
            padding-top: 0 !important;
        }
        .vc_custom_1522221334236{
            margin-bottom: -7px !important;
            padding-bottom: 0 !important;
        }
        .vc_custom_1522663195400{
            margin-bottom: 28px !important;
        }
        .vc_custom_1522221799046{
            margin-bottom: -7px !important;
            padding-bottom: 0 !important;}
        .vc_custom_1520246365222{
            padding-right: 4.4% !important;
            padding-left: 4.4% !important;
        }
        .vc_custom_1522221852293{
            margin-bottom: -7px !important;
            padding-bottom: 0 !important;
        }
        .vc_custom_1560936430810{
            border-top-width: 0 !important;
            border-right-width: 0 !important;
            border-bottom-width: 0 !important;
            border-left-width: 0 !important;
            padding-right: 0 !important;
            padding-left: 0 !important;}
        </style>
{% endblock %}

{% block content %}
<div class="title_block_wrapper block_has_bg_img" style="background-image: url({{ service.header_image.url }});">
    <div class="container">
        <div class="page_title_block">
            <h2 class="title">{{ service.name }}</h2>
            <div class="breadcrumbs"><a href="{% url 'core:index' %}">Home</a><span>{{ service.name }}</span></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="content_block row no-sidebar">
        <div class="fl-container ">
            <div class="posts-block ">
                <div class="contentarea">
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1519393801789">
                                <div class="wpb_wrapper">
                                    <div class="gt3_spacing">
                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:83px;"></div>
                                    </div>
                                    <h1 style="color: #202020;line-height: 1;text-align: left" class="vc_custom_heading wpb_animate_when_almost_visible wpb_slideInUp slideInUp wpb_start_animation animated" >{{ service.h1_title }}</h1>
                                    <div class="gt3_spacing">
                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:16px;"></div>
                                    </div>
                                    <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1522222141860">
                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="72" height="6" src="{% static 'core/img/divider.png' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy"></div>
                                        </figure>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                             {% autoescape off %}{{ service.description }}{% endautoescape %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include "core/components/gallery.html" %}
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding" style="position: relative; left: -190px; box-sizing: border-box; width: 1580px;">
                        <div class="wpb_column vc_column_container vc_col-sm-10 vc_col-sm-offset-1">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="gt3_spacing">
                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:91px;"></div>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6 vc_col-xs-12 vc_col-has-fill">
                                            <div class="vc_column-inner service-benefits-image" style="background-image: url({{ service.what_we_offer_image.url }})">
                                                <div class="wpb_wrapper">
                                                    <div class="gt3_spacing">
                                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:400px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6 vc_col-xs-12 vc_col-has-fill">
                                            <div class="vc_column-inner service-benefits">
                                                <div class="wpb_wrapper">
                                                    <div class="gt3_spacing">
                                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:93px;"></div>
                                                    </div>
                                                    <h6 style="color: #fb90b1;text-align: left" class="vc_custom_heading wpb_animate_when_almost_visible wpb_slideInUp slideInUp">WHAT WE OFFER</h6>
                                                    <h2 style="color: #202020;line-height: 1;text-align: left" class="vc_custom_heading wpb_animate_when_almost_visible wpb_slideInUp slideInUp">Benefits of Service</h2>
                                                    <div class="gt3_spacing">
                                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:14px;"></div>
                                                    </div>
                                                    <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1522222282232">
                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="72" height="6" src="{% static 'core/img/divider.png' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy"></div>
                                                        </figure>
                                                    </div>
                                                    <div class="gt3_spacing">
                                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:13px;"></div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element  vc_custom_1520234747310">
                                                        <div class="wpb_wrapper">
                                                            <div>
                                                                {% autoescape off %}{{ service.what_we_offer_description }}{% endautoescape %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="gt3_spacing gt3_spacing-height_mobile-on">
                                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:92px;"></div>
                                                        <div class="gt3_spacing-height gt3_spacing-height_mobile" style="height:0px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding vc_row-o-equal-height vc_row-o-content-middle vc_row-flex" style="position: relative; left: -190px; box-sizing: border-box; width: 1580px;">
                        <div class="wpb_column vc_column_container vc_col-sm-10 vc_col-md-offset-1 vc_col-md-5 vc_col-sm-offset-1 vc_col-xs-12 vc_col-has-fill">
                            <div class="vc_column-inner service-choose-your-price">
                                <div class="wpb_wrapper">
                                    <div class="gt3_spacing">
                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:62px;"></div>
                                    </div>
                                    <h6 style="color: #fb90b1;text-align: left" class="vc_custom_heading wpb_animate_when_almost_visible wpb_slideInUp slideInUp">PRICES</h6>
                                    <h2 style="color: #202020;line-height: 1;text-align: left" class="vc_custom_heading wpb_animate_when_almost_visible wpb_slideInUp slideInUp">Choose Your Price</h2>
                                    <div class="gt3_spacing">
                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:16px;"></div>
                                    </div>
                                    <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1522222299264">
                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="72" height="6" src="{% static 'core/img/divider.png' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy"></div>
                                        </figure>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1521109093248 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                                        <div class="wpb_column vc_column_container vc_col-sm-8 vc_col-xs-6">
                                            <div class="vc_column-inner vc_custom_1521109708312">
                                                <div class="wpb_wrapper">
                                                    <div class="gt3_spacing">
                                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:15px;"></div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element  vc_custom_1521108732553">
                                                        <div class="wpb_wrapper">
                                                            <h4 style="color: #202020;font-size: 20px;line-height: 25px;margin-bottom: 0"><strong>{{ service.cost_name }}</strong></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-xs-6">
                                            <div class="vc_column-inner vc_custom_1521109718670">
                                                <div class="wpb_wrapper">
                                                    <h2 style="font-size: 36px;color: #fb90b1;line-height: 30px;text-align: right;font-family:Lato;font-weight:400;font-style:normal" class="vc_custom_heading wpb_animate_when_almost_visible wpb_slideInUp slideInUp vc_custom_1521189056235">${{ service.cost }}</h2></div>
                                            </div>
                                        </div>
                                    </div>
{#                                    <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1521109099079 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">#}
{#                                        <div class="wpb_column vc_column_container vc_col-sm-8 vc_col-xs-6">#}
{#                                            <div class="vc_column-inner vc_custom_1521109725807">#}
{#                                                <div class="wpb_wrapper">#}
{#                                                    <div class="gt3_spacing">#}
{#                                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:25px;"></div>#}
{#                                                    </div>#}
{#                                                    <div class="wpb_text_column wpb_content_element  vc_custom_1521108881210">#}
{#                                                        <div class="wpb_wrapper">#}
{#                                                            <h4 style="color: #202020;font-size: 20px;line-height: 25px;margin-bottom: 0"><strong>3d Microblading by Specialist</strong></h4>#}
{#                                                            <p>Manual Technique with Natural Tint</p>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-xs-6">#}
{#                                            <div class="vc_column-inner vc_custom_1521109735176">#}
{#                                                <div class="wpb_wrapper">#}
{#                                                    <h2 style="font-size: 36px;color: #fb90b1;line-height: 30px;text-align: right;font-family:Lato;font-weight:400;font-style:normal" class="vc_custom_heading wpb_animate_when_almost_visible wpb_slideInUp slideInUp vc_custom_1521189063328">$280</h2></div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
                                    <div class="gt3_spacing">
                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:60px;"></div>
                                    </div>
                                    <div class="gt3_module_button gt3_btn_noreverse button_alignment_left  "><a class="shortcode_button has_hover button_size_normal " href="{% url 'core:contact-us' %}"><span>make an appoinment</span></a></div>
                                    <div class="gt3_spacing">
                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:85px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-10 vc_col-md-offset-0 vc_col-md-5 vc_col-sm-offset-1 vc_col-xs-12 vc_col-has-fill">
                            <div class="vc_column-inner service-video" style="background-image: url({% static 'services/img/img_singl_service.jpg' %})">
                                <div class="wpb_wrapper">
                                    <div class="gt3_spacing">
                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:70px;"></div>
                                    </div>
                                    <div class="video-popup-wrapper">
                                        <a class="video-popup__link swipebox-video" href="{{ service.what_we_offer_video_url }}" style="border-color:#ffffff; background-color:#ffffff" data-suffix="Video Showcase 5:22">
                                            <svg width="17" height="23">
                                                <polygon points="1,2 1,21 15,11" fill="#fb90b1" stroke="#fb90b1" stroke-width="2"></polygon>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="gt3_spacing">
                                        <div class="gt3_spacing-height gt3_spacing-height_default" style="height:61px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row-full-width vc_clearfix"></div>
                    {% include 'core/components/gallery-video.html' %}
                    <div class="vc_row-full-width vc_clearfix"></div>
                    {% include 'appointments/appointment.html' %}
                    <div class="vc_row-full-width vc_clearfix"></div>
                    {% include 'core/components/about-us-block.html' %}
                    <div class="vc_row-full-width vc_clearfix"></div>
                    {% include 'core/components/faq.html' %}
                    <div class="vc_row-full-width vc_clearfix"></div>
                    {% include 'testimonials/components/testimonial-list.html' %}
                    <div class="vc_row-full-width vc_clearfix"></div>
                    {% include 'core/components/map.html' %}
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <div class="clea_r"></div>
                    <div class="clea_r"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
{% block additional_scripts %}
    <script src="{% static 'core/js/vc_carousel.js' %}"></script>
    <script src="{% static 'core/js/images-loaded.js' %}"></script>
    <script src="{% static 'core/js/vc_transition.js' %}"></script>
{% endblock %}